.card{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    text-align: center;
    border:.1em solid  #3c424d;
    box-shadow: 1px 1px 0 #3c424d;
}

.btn-group-vertical{
    float: none;
    margin: 0 auto;  
}
label {
    padding-right: 10px;
    font-size: 1rem;
}

.boutondebat{
    border:.1em solid  #3c424d;
}
.textdebat{
    margin-left:10%;
}
.waves-light{
    background-color:   #eaebed !important; 
   
}
