


<h1 class="titre mt-0 mb-3"></h1>

<hr />
<br />
<br />
<br />

<div class="container">
  <div class="row mt-5 mb-5">

    <div class="col-md-5">
      <div class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="../../assets/idea.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1"><i class="far fa-lightbulb"></i> Boîte à idée </h5>
          <!-- Title -->
          <h4 class="font-weight-bold card-title">A vous la parole !</h4>
          <!-- Text -->
          <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi.</p>
          <!-- Button -->
          <button type="button" class="btn btn-elegant" [routerLink]="['/boiteIdee']"
            routerLinkActive="active">Découvrir</button>


        </div>

      </div>
      <!-- Card Narrower -->

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="../../assets/debat.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1"> <i class="far fa-comment-dots"></i> Débats</h5>
          <!-- Title -->
          <h4 class="font-weight-bold card-title">Venez donnez votre avis!</h4>
          <!-- Text -->
          <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi.</p>
          <!-- Button -->
          <button type="button" class="btn btn-elegant" [routerLink]="['/debat']"
            routerLinkActive="active">Découvrir</button>

        </div>

      </div>
      <!-- Card Narrower -->

    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-5">
      <div class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="../../assets/calendrier.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1"> <i class="far fa-calendar-check"></i> Agenda </h5>
          <!-- Title -->
          <h4 class="font-weight-bold card-title">L'agenda de votre quartier</h4>
          <!-- Text -->
          <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi.</p>
          <!-- Button -->
          <button type="button" class="btn btn-elegant" [routerLink]="['/titreAgenda']"
            routerLinkActive="active">Découvrir</button>

        </div>

      </div>
      <!-- Card Narrower -->

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="../../assets/agent.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1"><i class="fas fa-handshake"></i> Financement participatif</h5>
          <!-- Title -->
          <h4 class="font-weight-bold card-title">Aider votre quartier</h4>
          <!-- Text -->
          <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi.</p>
          <!-- Button -->
          <button type="button" class="btn btn-elegant" [routerLink]="['/financement']"
            routerLinkActive="active">Découvrir</button>

        </div>

      </div>
      <!-- Card Narrower -->

    </div>
  </div>
</div>