<app-navbar></app-navbar>

<h1 class="titre mt-5 mb-3">Financement participatif</h1>
<h2 class="soustitre mt-3 mb-5">Quartier rouge</h2>

<div class="container">



  <div class="row mt-5 mb-5">

    <div class="col-md-5">
      <div class="card card-image"
        style="background-image: url(assets/renovationmairie1.jpg);">

        
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            
            <h3 class="card-title pt-2"><strong>Renovation de la maire</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!.</p>
            <p></p>
            <a class="btn young-passion-gradient " [routerLink]="['/projet1']"
            routerLinkActive="active" ><i class="fas fa-clone left"></i>Voir le projet</a>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="card card-image"
          style="background-image: url(assets/playground1.jpg);">
  
          
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              
              <h3 class="card-title pt-2"><strong>Creation d'une aire de jeu</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
              <a class="btn young-passion-gradient" [routerLink]="['/projet2']"
              routerLinkActive="active"><i class="fas fa-clone left"></i>Voir le projet</a>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  

  <div class="row mt-5 mb-5">
      <div class="col-md-5">
          <div class="card card-image"
            style="background-image: url(assets/ajoutpoubelle1.jpg);">
    
            
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                
                <h3 class="card-title pt-2"><strong>Ajout de poubelle en ville</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn young-passion-gradient" [routerLink]="['/projet3']"
                routerLinkActive="active"><i class="fas fa-clone left"></i>Voir le projet</a>
              </div>
            </div>
    
          </div>
    
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card card-image"
              style="background-image: url(assets/roundabout1.jpg);">
      
             
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  
                  <h3 class="card-title pt-2"><strong>Creation d'un rond point</strong></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                  <a class="btn young-passion-gradient"  [routerLink]="['/projet4']"
                  routerLinkActive="active"><i class="fas fa-clone left"></i>Voir le projet</a>
                </div>
              </div>
      
            </div>
      
          </div>
    
  </div>
</div>