<div class="container">
  <h1 class="titre mt-0 mb-3">NOM DU QUARTIER</h1>

  <hr />
  <br />
  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12  center-block">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lyon1.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-home"></i> 1er<br />arrondissement
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <!-- Button -->
            <a class="btn btn-unique">Découvrir</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12  center-block">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lyon2.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-home"></i> 2ème arrondissement
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <!-- Button -->
            <a class="btn btn-unique">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12  center-block">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lyon3.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-home"></i> 3ème arrondissement
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <!-- Button -->
            <a class="btn btn-unique">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
  </div>






<!-- 2ème ligne de quartier 
 --> 
 
 
 <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12  center-block">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lyon4.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-home"></i> 4ème<br />arrondissement
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <!-- Button -->
            <a class="btn btn-unique">Découvrir</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12  center-block">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lyon5.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-home"></i> 5ème arrondissement
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <!-- Button -->
            <a class="btn btn-unique">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12  center-block">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lyon6.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-home"></i> 6ème arrondissement
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <!-- Button -->
            <a class="btn btn-unique">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
