.center-block{
    margin: 4%;
}

.pink-text{
    color:black !important;
}

.btn-unique{
color: #3c424d;
}

.btn{
    background-color: #3c424d;
}
.default{
    position:relative;
    top:-500px;
    margin-left:30%;
    width: 50%;
   
}

