.form-group{
    width: 85%;
    height: 10%;
    margin:auto;
}
.envoyer{
    margin: auto;
    display: block;

}

.titre2{
    text-align: center;
}

.titre3{
    font-size: 20px;
}

.btn{
    border-radius: 5px;
}