<h1 class="titre mt-0 mb-3">Financement participatif</h1>
<h2 class="soustitre mt-0 mb-3">Quartier rouge</h2>

<div class="container">



  <div class="row mt-5 mb-5">

    <div class="col-md-5">
      <div class="card card-image"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

        
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            
            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!.</p>
            <a class="btn young-passion-gradient"><i class="fas fa-clone left"></i>Voir le projet</a>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="card card-image"
          style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
  
          
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              
              <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
              <a class="btn young-passion-gradient"><i class="fas fa-clone left"></i>Voir le projet</a>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  

  <div class="row mt-5 mb-5">
      <div class="col-md-5">
          <div class="card card-image"
            style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    
            
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                
                <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn young-passion-gradient"><i class="fas fa-clone left"></i>Voir le projet</a>
              </div>
            </div>
    
          </div>
    
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card card-image"
              style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
      
             
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  
                  <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                  <a class="btn young-passion-gradient"><i class="fas fa-clone left"></i>Voir le projet</a>
                </div>
              </div>
      
            </div>
      
          </div>
    
  </div>
</div>