<!--Textarea with icon prefix-->
<h1 class="planning mt-0 mb-3" >Boite à idée</h1>
<div class=container>
<div class="md-form">
    <i class="fas fa-pencil-alt prefix"></i>
    <textarea type="text" id="form8" class="md-textarea form-control" mdbInput></textarea>
    <label for="form8">Icon Prefix</label>
  </div>
  <mdb-card>
    <!--Card image-->
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
</div>