.logoHeader
{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.routerLink{
    text-decoration: none;
    color : inherit;
    border :none;
    
}
#logo{
cursor:pointer;
}
.je{
    border:.1em solid #ff897d;
    box-shadow: 1px 1px 0 #c64867;
}

.young-passion-gradient{
   margin-left: 83%;
    width: 15%;
     
}
li{
    list-style-type: none;
}