
<app-admin></app-admin>

<div class="contenaire" >
  <img class="imgHome" src="https://mdbootstrap.com/img/Photos/Slides/img%20(141).jpg" alt="">
  <div class="formfield-select--container">
  <select (change)='redirectToHome()'  id="mon_select" class=" custom-select default">
      <option class="menu" selected>Open this select menu</option>

      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    
  
  <!-- <div class="form-select" >
      <select class="default" name="" id="">
        <option value="" disabled="disabled" selected="selected">Choose a character</option>
        <option>Bender</option>
        <option>Jerry Seinfeld</option>
        <option>Zoidberg</option>
        <option>Kramer</option>
        <option>Hapskidoodle</option>
        <option>Doodleski</option>
      </select>
    </div> -->
</div>






<!--/.Carousel Wrapper-->

