
.default{
    position:relative;
    top:-500px;
    margin-left:25%;
    width: 50%;
    text-align: center;
    height: 100px;
    opacity:.5;
    
    
   
}
.imgHome{
    max-width: 100%;
    height:auto;
}

.menu{
    opacity:.7;
}
.select {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white, 5;
}